{{>header}}
<!-- order -->
<table align="center" class="container float-center order-banner width-540px">
    <tbody>
      <tr>
        <td>
            <img src="web/images/email/order.jpg" class="order-banner__img">
        </td>
      </tr>
    </tbody>
</table>
<table align="center" class="container order float-center">
    <tbody>
      <tr>
        <th>
          <table align="center" class="container order__wrap float-center">
            <tbody>
              <tr>
                <th>
                  <table align="center" class="spacer float-center">
                    <tbody>
                      <tr>
                        <td height="50" style="font-size:50px;line-height:50px;"> </td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="order__sup-title">ORDER #1234567890</p>
                  <h1 class="order__title">Thank you <br><span class="order__title-border"></span><em>for your order!</em></h1>
                  <p class="order__text">Your purchase was successful and is waiting to be shipped. You will receive a track and trace link when your order has been dispatched from our wearhouse.</p>
                  <p class="order__text">If you have any questions please contact mail@store.com</p>
                  <table align="center" class="spacer float-center">
                    <tbody>
                      <tr>
                        <td height="24" style="font-size:24px;line-height:24px;"> </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="button float-center">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">View your order</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </th>
              </tr>
            </tbody>
        </table>
      </th>
    </tr>
  </tbody>
</table>
<table align="center" class="spacer float-center">
  <tbody>
    <tr>
      <td height="50" style="font-size:50px;line-height:50px;"> </td>
    </tr>
  </tbody>
</table>
<table align="center" class="container order-info float-center">
  <tbody>
    <tr>
      <th>
        <table align="center" class="row order-info__row float-center">
          <tbody>
            <tr>
              <th class="order-info__col order-info__col--w160">
                <p class="order-info__name">PAYMENT METHOD</p>
                <p class="order-info__text">text</p>
              </th>
              <th class="order-info__col order-info__col--w160">
                <p class="order-info__name">ORDER NUMBER</p>
                <p class="order-info__text">text</p>
              </th>
              <th class="order-info__col order-info__col--w160">
                <p class="order-info__name">ORDER DATE</p>
                <p class="order-info__text">text</p>
              </th>
            </tr>
          </tbody>
        </table>
        <table align="center" class="spacer float-center">
          <tbody>
            <tr>
              <td height="20" style="font-size:20px;line-height:20px;"> </td>
            </tr>
          </tbody>
        </table>
        <table align="center" class="row order-info__row float-center">
          <tbody>
            <tr>
              <th class="order-info__col order-info__col--w240 order-info__col--border-right">
                <p class="order-info__name">STORE LOCATION</p>
                <p class="order-info__text">
                  Max Store<br>
                  Shop 100,<br>
                  Westfield, Broadway<br>
                  Newmarket<br>
                  Auckland 1023<br>
                </p>
              </th>
              <th class="order-info__col order-info__col--w240">
                <p class="order-info__name">BILLING ADDRESS</p>
                <p class="order-info__text">
                  Nikki Kay<br>
                  Overdose Digital<br>
                  3/25 Broadway<br>
                  Newmarket, 1023<br>
                  Auckland - New Zealand<br>
                </p>
              </th>
            </tr>
          </tbody>
        </table>
      </th>
    </tr>
  </tbody>
</table>
<table align="center" class="spacer float-center">
  <tbody>
    <tr>
      <td height="40" style="font-size:40px;line-height:40px;"> </td>
    </tr>
  </tbody>
</table>
<table class="order-product">
  <thead class="order-product-thead">
    <tr>
        <th class="order-product-thead__item text-left">
            PRODUCT
        </th>
        <th class="order-product-thead__item text-right">
          QTY
        </th>
        <th class="order-product-thead__item text-right">
            SUBTOTAL
        </th>
    </tr>
  </thead>
  <tbody>
    <tr class="order-product-col">
      <td>
        <table class="row">
          <tbody>
              <tr>
                  <th class="order-product-col__img">
                     <img width="126" height="126" src="web/images/email/icon-product.png" alt="img">
                  </th>
                  <th class="order-product-col__content">
                      <p class="order-product-col__title text-left">Long Product Name Nadia Pima Cotton Crew Tee</p>
                      <p class="order-product-col__text text-left">Size: 10</p>
                      <p class="order-product-col__text text-left">Colour: White</p>
                  </th>
              </tr>
          </tbody>
        </table>  
      </td>
      <td class="order-product-col__quantity text-right">x1</td>
      <td class="order-product-col__subtotal text-right">$169.95 NZD</td>
    </tr>
    <tr class="order-product-col">
      <td>
        <table class="row">
          <tbody>
              <tr>
                  <th class="order-product-col__img">
                      <img width="126" height="126" src="web/images/email/icon-product.png" alt="img">
                  </th>
                  <th class="order-product-col__content">
                      <p class="order-product-col__title text-left">Long Product Name Nadia Pima Cotton Crew Tee</p>
                      <p class="order-product-col__text text-left">Size: 10</p>
                      <p class="order-product-col__text text-left">Colour: White</p>
                  </th>
              </tr>
          </tbody>
        </table>  
      </td>
      <td class="order-product-col__quantity text-right">x1</td>
      <td class="order-product-col__subtotal text-right">$169.95 NZD</td>
    </tr>
  </tbody>
</table>
<table align="center" class="order-total__container float-center">
  <tbody>
      <tr>
          <td>
              <table class="row">
                  <tbody>
                      <tr>
                          <th class="order-total__col"></th>
                          <th class="order-total__col-center"></th>
                          <th class="order-total__col">
                              <table class="order-total-info__table">
                                  <tbody>
                                      <tr><th class="order-total-info__line-first"></th></tr>
                                      <tr>
                                        <th class="order-total-info__item">SUBTOTAL:</th>
                                        <th class="order-total-info__total text-right">$238.50 NZD</th>
                                      </tr>
                                      <tr>
                                        <th class="order-total-info__item">SHIPPING:</th>
                                        <th class="order-total-info__total text-right">$10.00 NZD</th>
                                      </tr>
                                      <tr>
                                        <th class="order-total-info__item">ORDER TOTAL:</th>
                                        <th class="order-total-info__total text-right">$248.50 NZD</th>
                                      </tr>
                                      <tr><th class="order-total-info__line-last"></th></tr>
                                  </tbody>
                              </table>
                          </th>
                      </tr>
                  </tbody>
              </table>
          </td>
      </tr>
  </tbody>
</table>
<table align="center" class="spacer float-center">
  <tbody>
    <tr>
      <td height="50" style="font-size:50px;line-height:50px;"> </td>
    </tr>
  </tbody>
</table>
<!-- /order -->
{{>footer}}