<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="../assets/css/email-inline.css">
</head>

<body style="background-color: #f8f8f8 !important;">
<center>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <table class="container">
          <tr>
            <td>
              <!-- CODE-->
              <h2 class="text-center">Buttons</h2>
              <table class="row">
                <tbody>
                  <tr>
                    <th class="col-4 columns">
                      <table>
                        <tbody>
                          <tr>
                            <th>
                              <center>
                                <table class="button float-center">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table>
                                          <tbody>
                                            <tr>
                                              <td><a align="center" href="#">Button</a></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </center>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </th>
                    <th class="col-4 columns">
                      <table>
                        <tbody>
                          <tr>
                            <th>
                              <center>
                                <table class="button-secondary float-center">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table>
                                          <tbody>
                                            <tr>
                                              <td><a align="center" href="#">Secondary</a></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </center>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </th>
                    <th class="col-4 columns">
                      <table>
                        <tbody>
                          <tr>
                            <th>
                              <center>
                                <table class="button-link float-center">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table>
                                          <tbody>
                                            <tr>
                                              <td><a align="center" href="#">Btn link</a></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </center>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
              <!-- END CODE-->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
</body>
</html>