<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../assets/css/email-inline.css">
  </head>
  <body style="background-color: #f8f8f8 !important;">
    <center>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <table class="container">
            <tr>
              <td>
                <table align="center" class="container custom-style">
                  <tbody>
                    <tr>
                      <td>
                        <h2 class="text-center">Custom style for component</h2>
                        <table class="row custom-style">
                          <tbody>
                            <tr>
                              <th class="custom-style col-12 columns">
                                <table>
                                  <tbody>
                                    <tr>
                                      <th>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium id
                                          diam nec ornare. Interdum et malesuada fames ac ante ipsum primis in
                                          faucibus. Maecenas vitae condimentum velit. Praesent rhoncus, nisl et
                                          vestibulum tincidunt, turpis sem tincidunt mi, nec dictum urna nisi
                                          ullamcorper ante. Maecenas eu turpis id urna rhoncus ultrices. Nam maximus
                                          sollicitudin pharetra. Donec velit quam, vulputate ut malesuada at, laoreet
                                          et magna. Sed vitae risus sed libero posuere feugiat vel vehicula augue.
                                        </p>
                                        <table class="button custom-style">
                                          <tbody>
                                            <tr>
                                              <td>
                                                <table>
                                                  <tbody>
                                                    <tr>
                                                      <td><a href="#link">btn name</a></td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </th>
                                      <th class="expander"></th>
                                    </tr>
                                  </tbody>
                                </table>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </center>
  </body>
</html>