<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../assets/css/email-inline.css">
  </head>
  <body style="background-color: #f8f8f8 !important;">
    <center>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <table class="container">
            <tr>
              <td>
                <h2 class="text-center">Grid</h2>
                <table class="spacer">
                  <tbody>
                    <tr>
                      <td height="50" style="font-size:50px;line-height:50px;">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
                <table class="row">
                  <tbody>
                    <tr>
                      <th class="col-4 columns">
                        <table>
                          <tbody>
                            <tr>
                              <th>
                                <center>
                                  <img src="https://placehold.co/100x150/777777/&text=images" alt
                                    class="demo-col__img float-center" align="center">
                                </center>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                      </th>
                      <th class="col-8 columns">
                        <table>
                          <tbody>
                            <tr>
                              <th>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium id diam
                                  nec ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas
                                  vitae condimentum velit. Praesent rhoncus, nisl et vestibulum tincidunt, turpis sem
                                  tincidunt mi, nec dictum urna nisi ullamcorper ante. Maecenas eu turpis id urna
                                  rhoncus ultrices. Nam maximus sollicitudin pharetra. Donec velit quam, vulputate ut
                                  malesuada at, laoreet et magna. Sed vitae risus sed libero posuere feugiat vel
                                  vehicula augue. </p>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </center>
  </body>
</html>