<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../assets/css/email-inline.css">
  </head>
  <body style="background-color: #f8f8f8 !important;">
    <center>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <table class="container">
            <tr>
              <td>
                <table align="center" class="table-content" style="background-color: #74992e !important; border: 1px solid #e3e3e3;">
                  <tbody>
                    <tr>
                      <td class="table-content__inner">
                        <h1>OD test email</h1>
                        <p class="table-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus metus at bibendum maximus.<a href="https://site.com" class="table-content__link">youLink</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </center>
  </body>
</html>