            </td>
        </tr>
    </tbody>
</table>
<!-- start footer -->
<table align="center" class="container float-center footer">
    <tbody>
        <tr>
            <td>
                <table class="row footer__copy">
                    <tbody>
                        <tr>
                            <th class="large-12 columns center">
                                <p>© 2021 Od-Email</p>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- end footer -->
