
<table class="header">
    <tr><td class="center" align="center" valign="top">
      <center>
          <a class="header__logo" href="#">
             <img src="web/images/email/logo.png" alt="logo">
          </a>
      </center>
    </td></tr>
</table>
<!-- menu -->
<table class="menu float-center" align="center">
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr class="center" align="center">
                            <th class="menu__item menu__item--first"><a href="#">Home</a></th>
                            <th class="menu__item"><a href="#">About us</a></th>
                            <th class="menu__item"><a href="#">Sales</a></th>
                            <th class="menu__item"><a href="#">Brands</a></th>
                            <th class="menu__item"><a href="#">Gifting</a></th>
                            <th class="menu__item menu__item--last"><a href="#">Contact Us</a></th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- /menu -->

<table align="center" class="container float-center">
    <tbody>
        <tr>
            <td>